<div id="<%= dom_id transaction_item %>">
  <p>
    <strong>Transactionorder:</strong>
    <%= transaction_item.transactionOrder_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= transaction_item.product_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= transaction_item.number %>
  </p>

</div>
